$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$grass: url('/assets/images/texture-grass.png');
$grey: rgb(202, 201, 201);
$dirt: url('/assets/images/texture-dirt.jpg');
$color-gold: rgb(226, 150, 7);
$rock: url('/assets/images/texture-dark.gif'); 
$diamond: url('/assets/images/texture-diamond.png');

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0; 
  padding: 0;
}

h1 {
  font-size: 35px;
}
h2 {
  color:white;
  display: table;
  font-size: 30px;
  background-color: $color-gold;
  padding:5px;
}

h3 {
  font-size: 25px;
}
p {
  font-size: 15px;
}
header {
  background-color: skyblue;
  padding: 2px 0px 2px 0px;
}
a {
  color: $color-gold;
  text-decoration: none;
}

header ul {
  display: flex;
  list-style-type: none;
}
header li {
  padding-right: 8px;
  text-transform: uppercase;
  font-weight: bolder;
}

// .row {
//   display: flex;
// }

#home-welcome {
  text-align: center;
  background-image: url('/assets/images/bitquest-map-lg.jpg');
  padding:8px;
  color:white;
  text-shadow: 2px 2px rgb(67, 67, 67);
}

#logo img {
  width: 80%;
}
#home-connect, #home-features, #home-donate {
  padding:10px;
}

.feature {
  display: flex;
}

.feature-image {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: rgb(174, 249, 209);
}

#home-features {
  background-color: pink;
}

#home-features p {
  font-size: 20px;
  padding-left:20px;
}
#home-features h3{
  text-align: center;
}

#home-connect {
  background-image: $dirt;
  background-color: $grey;
}
#home-connect-servers h4 {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  padding: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  text-shadow: 1px 1px rgb(140, 139, 139);
}
#home-connect-servers p,h4 {
  color: white;
}

#home-donate {
  background-image: $diamond;
}

#home-donate-addresses p {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-shadow: 1px 1px rgb(161, 161, 161);
}

footer {
  text-align: center;
  padding:10px;
  height: 100px;
  color: white;
  background-image: $rock;
}